<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Created with Inkscape (http://www.inkscape.org/) -->

<svg
   viewBox="0 0 127 31.220833"
   version="1.1"
   id="svg12637"
   inkscape:version="1.1.2 (08b2f3d93c, 2022-04-05)"
   sodipodi:docname="bilatu-2.svg"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:xlink="http://www.w3.org/1999/xlink"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg">
  <sodipodi:namedview
     id="namedview12639"
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1.0"
     inkscape:pageshadow="2"
     inkscape:pageopacity="0.0"
     inkscape:pagecheckerboard="0"
     inkscape:document-units="mm"
     showgrid="false"
     units="px"
     inkscape:zoom="1.9704154"
     inkscape:cx="229.39326"
     inkscape:cy="-6.8513473"
     inkscape:window-width="1920"
     inkscape:window-height="972"
     inkscape:window-x="0"
     inkscape:window-y="0"
     inkscape:window-maximized="1"
     inkscape:current-layer="layer1"
     showguides="true"
     inkscape:guide-bbox="true" />
  <defs
     id="defs12634">
    <linearGradient
       inkscape:collect="always"
       id="linearGradient5770">
      <stop
         style="stop-color:#f7b102;stop-opacity:1;"
         offset="0"
         id="stop5766" />
      <stop
         style="stop-color:#ff00cc;stop-opacity:1"
         offset="1"
         id="stop5768" />
    </linearGradient>
    <linearGradient
       inkscape:collect="always"
       id="linearGradient5764">
      <stop
         style="stop-color:#f7b102;stop-opacity:1;"
         offset="0"
         id="stop5760" />
      <stop
         style="stop-color:#ff00cc;stop-opacity:1"
         offset="1"
         id="stop5762" />
    </linearGradient>
    <linearGradient
       inkscape:collect="always"
       id="linearGradient5456">
      <stop
         style="stop-color:#316dc8;stop-opacity:1;"
         offset="0"
         id="stop5452" />
      <stop
         style="stop-color:#d400aa;stop-opacity:1"
         offset="1"
         id="stop5454" />
    </linearGradient>
    <linearGradient
       inkscape:collect="always"
       id="linearGradient5450">
      <stop
         style="stop-color:#316dc8;stop-opacity:1;"
         offset="0"
         id="stop5446" />
      <stop
         style="stop-color:#d400aa;stop-opacity:1"
         offset="1"
         id="stop5448" />
    </linearGradient>
    <linearGradient
       inkscape:collect="always"
       id="linearGradient5444">
      <stop
         style="stop-color:#316dc8;stop-opacity:1;"
         offset="0"
         id="stop5440" />
      <stop
         style="stop-color:#d400aa;stop-opacity:1"
         offset="1"
         id="stop5442" />
    </linearGradient>
    <linearGradient
       inkscape:collect="always"
       id="linearGradient5438">
      <stop
         style="stop-color:#316dc8;stop-opacity:1;"
         offset="0"
         id="stop5434" />
      <stop
         style="stop-color:#d400aa;stop-opacity:1"
         offset="1"
         id="stop5436" />
    </linearGradient>
    <linearGradient
       inkscape:collect="always"
       id="linearGradient5432">
      <stop
         style="stop-color:#316dc8;stop-opacity:1;"
         offset="0"
         id="stop5428" />
      <stop
         style="stop-color:#d400aa;stop-opacity:1"
         offset="1"
         id="stop5430" />
    </linearGradient>
    <linearGradient
       inkscape:collect="always"
       id="linearGradient5426">
      <stop
         style="stop-color:#316dc8;stop-opacity:1;"
         offset="0"
         id="stop5422" />
      <stop
         style="stop-color:#d400aa;stop-opacity:1"
         offset="1"
         id="stop5424" />
    </linearGradient>
    <linearGradient
       inkscape:collect="always"
       id="linearGradient5420">
      <stop
         style="stop-color:#316dc8;stop-opacity:1;"
         offset="0"
         id="stop5416" />
      <stop
         style="stop-color:#d400aa;stop-opacity:1"
         offset="1"
         id="stop5418" />
    </linearGradient>
    <linearGradient
       inkscape:collect="always"
       id="linearGradient5334">
      <stop
         style="stop-color:#316dc8;stop-opacity:1;"
         offset="0"
         id="stop5330" />
      <stop
         style="stop-color:#d400aa;stop-opacity:1"
         offset="1"
         id="stop5332" />
    </linearGradient>
    <linearGradient
       inkscape:collect="always"
       id="linearGradient4592">
      <stop
         style="stop-color:#f7b102;stop-opacity:1;"
         offset="0"
         id="stop4588" />
      <stop
         style="stop-color:#ff00cc;stop-opacity:1"
         offset="1"
         id="stop4590" />
    </linearGradient>
    <linearGradient
       inkscape:collect="always"
       id="linearGradient1336">
      <stop
         style="stop-color:#f7b102;stop-opacity:1;"
         offset="0"
         id="stop1332" />
      <stop
         style="stop-color:#ff00cc;stop-opacity:1"
         offset="1"
         id="stop1334" />
    </linearGradient>
    <linearGradient
       inkscape:collect="always"
       xlink:href="#linearGradient1336"
       id="linearGradient1338"
       x1="-31.658752"
       y1="14.341975"
       x2="20.205599"
       y2="-37.690857"
       gradientUnits="userSpaceOnUse" />
    <linearGradient
       inkscape:collect="always"
       xlink:href="#linearGradient5770"
       id="linearGradient1340"
       x1="-28.449753"
       y1="7.4757714"
       x2="23.414598"
       y2="-44.55706"
       gradientUnits="userSpaceOnUse" />
    <linearGradient
       inkscape:collect="always"
       xlink:href="#linearGradient4592"
       id="linearGradient1342"
       x1="-21.095255"
       y1="1.4371724"
       x2="30.769096"
       y2="-50.595657"
       gradientUnits="userSpaceOnUse" />
    <linearGradient
       inkscape:collect="always"
       xlink:href="#linearGradient5764"
       id="linearGradient1344"
       x1="-10.588854"
       y1="-0.25812644"
       x2="41.275497"
       y2="-52.290958"
       gradientUnits="userSpaceOnUse" />
    <linearGradient
       inkscape:collect="always"
       xlink:href="#linearGradient5334"
       id="linearGradient5336"
       x1="53.553345"
       y1="11.77695"
       x2="35.261047"
       y2="-41.984459"
       gradientUnits="userSpaceOnUse" />
    <linearGradient
       inkscape:collect="always"
       xlink:href="#linearGradient5456"
       id="linearGradient5338"
       x1="55.392799"
       y1="-0.32048446"
       x2="46.459122"
       y2="28.260263"
       gradientUnits="userSpaceOnUse" />
    <linearGradient
       inkscape:collect="always"
       xlink:href="#linearGradient5450"
       id="linearGradient5340"
       x1="55.392799"
       y1="-0.32048446"
       x2="46.459122"
       y2="28.260263"
       gradientUnits="userSpaceOnUse" />
    <linearGradient
       inkscape:collect="always"
       xlink:href="#linearGradient5444"
       id="linearGradient5342"
       x1="5.3644404"
       y1="11.288652"
       x2="-12.927856"
       y2="-42.472755"
       gradientUnits="userSpaceOnUse" />
    <linearGradient
       inkscape:collect="always"
       xlink:href="#linearGradient5438"
       id="linearGradient5344"
       x1="-31.170259"
       y1="38.44194"
       x2="-49.462555"
       y2="-15.319468"
       gradientUnits="userSpaceOnUse" />
    <linearGradient
       inkscape:collect="always"
       xlink:href="#linearGradient5432"
       id="linearGradient5346"
       x1="-50.960358"
       y1="11.288652"
       x2="-69.252655"
       y2="-42.472755"
       gradientUnits="userSpaceOnUse" />
    <linearGradient
       inkscape:collect="always"
       xlink:href="#linearGradient5426"
       id="linearGradient5348"
       x1="-91.667366"
       y1="11.287645"
       x2="-109.95966"
       y2="-42.473763"
       gradientUnits="userSpaceOnUse" />
    <linearGradient
       inkscape:collect="always"
       xlink:href="#linearGradient5420"
       id="linearGradient5350"
       x1="-124.73566"
       y1="43.482941"
       x2="-143.02795"
       y2="-10.278469"
       gradientUnits="userSpaceOnUse" />
  </defs>
  <g
     inkscape:label="Calque 1"
     inkscape:groupmode="layer"
     id="layer1">
    <g
       id="g25"
       transform="matrix(0.4883848,0,0,-0.53162199,29.238162,5.9404011)"
       style="fill:url(#linearGradient5336);fill-opacity:1">
      <path
         d="m 0,0 c 2.169,0.436 6.559,0.761 10.677,0.761 5.042,0 8.132,-0.49 10.787,-2.061 2.546,-1.355 4.39,-3.848 4.39,-7.153 0,-3.253 -1.897,-6.288 -6.018,-7.806 v -0.108 c 4.174,-1.139 7.264,-4.282 7.264,-8.997 0,-3.307 -1.516,-5.908 -3.794,-7.751 -2.656,-2.114 -7.099,-3.307 -14.361,-3.307 -4.067,0 -7.102,0.272 -8.945,0.542 z m 8.184,-13.983 h 2.71 c 4.336,0 6.668,1.789 6.668,4.5 0,2.763 -2.113,4.226 -5.855,4.226 -1.788,0 -2.818,-0.107 -3.523,-0.216 z m 0,-16.205 c 0.814,-0.108 1.789,-0.108 3.198,-0.108 3.739,0 7.048,1.407 7.048,5.256 0,3.686 -3.309,5.148 -7.427,5.148 H 8.184 Z"
         style="fill:url(#linearGradient5336);fill-opacity:1.0;fill-rule:nonzero;stroke:none"
         id="path27" />
    </g>
    <path
       d="m 45.228126,25.101329 h 4.050175 V 11.760922 h -4.050175 z"
       style="fill:url(#linearGradient5338);fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.422317"
       id="path29" />
    <path
       d="m 45.23095,9.0809282 h 4.050175 V 5.9404012 H 45.23095 Z"
       style="fill:url(#linearGradient5340);fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.204906"
       id="path29-3" />
    <g
       id="g31"
       transform="matrix(0.4883848,0,0,-0.53162199,52.77289,5.6808114)"
       style="fill:url(#linearGradient5342);fill-opacity:1">
      <path
         d="m 0,0 v -36.53 h 22.819 v 6.937 H 8.293 V 0 Z"
         style="fill:url(#linearGradient5342);fill-opacity:1.0;fill-rule:nonzero;stroke:none"
         id="path33" />
    </g>
    <g
       id="g35"
       transform="matrix(0.4883848,0,0,-0.53162199,70.615882,20.116097)"
       style="fill:url(#linearGradient5344);fill-opacity:1">
      <path
         d="m 0,0 -2.602,-9.377 h -8.562 L 0,27.154 H 10.84 L 22.169,-9.377 h -8.89 L 10.46,0 Z m 9.268,6.178 -2.276,7.751 c -0.649,2.168 -1.3,4.879 -1.842,7.046 H 5.043 C 4.5,18.808 3.958,16.044 3.361,13.929 L 1.192,6.178 Z"
         style="fill:url(#linearGradient5344);fill-opacity:1.0;fill-rule:nonzero;stroke:none"
         id="path37" />
    </g>
    <g
       id="g39"
       transform="matrix(0.4883848,0,0,-0.53162199,80.281066,5.6808114)"
       style="fill:url(#linearGradient5346);fill-opacity:1">
      <path
         d="M 0,0 V -6.937 H 9.807 V -36.53 h 8.295 v 29.593 h 9.972 V 0 Z"
         style="fill:url(#linearGradient5346);fill-opacity:1.0;fill-rule:nonzero;stroke:none"
         id="path41" />
    </g>
    <g
       id="g43"
       transform="matrix(0.4883848,0,0,-0.53162199,100.16175,5.680276)"
       style="fill:url(#linearGradient5348);fill-opacity:1">
      <path
         d="m 0,0 v -21.03 c 0,-6.288 2.384,-9.487 6.612,-9.487 4.336,0 6.72,3.037 6.72,9.487 V 0 h 8.237 v -20.488 c 0,-11.274 -5.688,-16.639 -15.227,-16.639 -9.216,0 -14.637,5.094 -14.637,16.746 V 0 Z"
         style="fill:url(#linearGradient5348);fill-opacity:1.0;fill-rule:nonzero;stroke:none"
         id="path45" />
    </g>
    <g
       id="g47"
       transform="matrix(0.4883848,0,0,-0.53162199,116.3118,22.796003)"
       style="fill:url(#linearGradient5350);fill-opacity:1">
      <path
         d="M 0,0 C 0,2.872 2.003,4.931 4.878,4.931 7.749,4.931 9.646,2.872 9.699,0 9.699,-2.818 7.805,-4.932 4.878,-4.932 1.949,-4.932 0,-2.818 0,0 M 1.787,7.642 0.54,32.195 H 9.158 L 7.967,7.642 Z"
         style="fill:url(#linearGradient5350);fill-opacity:1.0;fill-rule:nonzero;stroke:none"
         id="path49" />
    </g>
    <g
       id="g51"
       transform="matrix(0.5719615,0,0,-0.63487413,24.280177,15.04575)"
       style="fill:url(#linearGradient1338);fill-opacity:1">
      <path
         d="m 0,0 c -3.498,-7.637 -10.02,-12.908 -14.58,-15.855 0.565,-0.056 1.134,-0.091 1.7,-0.091 4.427,0 8.209,1.723 10.652,4.847 2.308,2.944 3.115,6.801 2.283,10.858 z"
         style="fill:url(#linearGradient1338);fill-opacity:1.0;fill-rule:nonzero;stroke:none"
         id="path53" />
    </g>
    <g
       id="g55"
       transform="matrix(0.5719615,0,0,-0.63487413,22.444753,10.686575)"
       style="fill:url(#linearGradient1340);fill-opacity:1">
      <path
         d="M 0,0 C -0.82,1.095 -1.768,2.118 -2.835,3.046 -6.506,-7.429 -16.804,-15.297 -21.498,-18.45 l 0.246,-0.203 c 0.968,-0.755 1.994,-1.405 3.053,-1.965 C -15.96,-19.508 -2.511,-12.38 0,0"
         style="fill:url(#linearGradient1340);fill-opacity:1.0;fill-rule:nonzero;stroke:none"
         id="path57" />
    </g>
    <g
       id="g59"
       transform="matrix(0.5719615,0,0,-0.63487413,18.238263,6.8528248)"
       style="fill:url(#linearGradient1342);fill-opacity:1">
      <path
         d="M 0,0 C -1.614,0.785 -3.302,1.344 -5.013,1.641 -8.086,-8.67 -16.704,-14.32 -20.177,-16.232 c 0.564,-1.522 1.362,-3.013 2.37,-4.41 C -13.96,-18.131 -2.798,-10.121 0,0"
         style="fill:url(#linearGradient1342);fill-opacity:1.0;fill-rule:nonzero;stroke:none"
         id="path61" />
    </g>
    <g
       id="g63"
       transform="matrix(0.5719615,0,0,-0.63487413,12.229006,5.7765234)"
       style="fill:url(#linearGradient1344);fill-opacity:1">
      <path
         d="M 0,0 C -3.315,-0.539 -6.13,-2.141 -8.085,-4.643 -9.846,-6.89 -10.681,-9.612 -10.681,-12.442 -7.557,-10.445 -2.428,-6.361 0,0"
         style="fill:url(#linearGradient1344);fill-opacity:1.0;fill-rule:nonzero;stroke:none"
         id="path65" />
    </g>
  </g>
</svg>